# OpenFOAM build
lnInclude/
**/Make/linux*/
platforms/

# Python
__pycache__/
*.egg-info/
.pytest_cache/
build/
dist/

# Case output
tutorials/*/[1-9]*
tutorials/*/log.*
tutorials/*/jevGovernor/
tutorials/*/constant/polyMesh/
tutorials/*/processor*/
*.jevGovernor.orig
*.jevGovernor.tmp

# Secrets
.env
*api_key*
